aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apify_fingerprint_datapoints==0.10.0
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
browserforge==1.2.4
camoufox==0.4.11
camoufox-captcha==0.1.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cssselect==1.4.0
exceptiongroup==1.3.1
execnet==2.1.2
fastapi==0.133.0
fasteners==0.20
filelock==3.24.3
frozenlist==1.8.0
geoip2==5.2.0
greenlet==3.3.2
h11==0.16.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
language-tags==1.2.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
maxminddb==3.1.0
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.7.1
mycdp==1.3.2
nest-asyncio==1.6.0
numpy==2.2.6
orjson==3.11.7
outcome==1.3.0.post0
packaging==26.0
parse==1.21.1
parse_type==0.6.6
pillow==12.1.1
platformdirs==4.9.2
playwright==1.58.0
playwright-stealth==2.0.2
pluggy==1.6.0
propcache==0.4.1
PyAutoGUI==0.9.54
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pynose==1.5.5
pyotp==2.9.0
pyperclip==1.11.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.4.2
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.1
pytest-xdist==3.8.0
python-dotenv==1.2.1
pytweening==1.2.0
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
sbvirtualdisplay==1.4.0
screeninfo==0.8.1
selenium==4.41.0
seleniumbase==4.47.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
starlette==0.52.1
tabcompleter==1.4.0
tomli==2.4.0
tqdm==4.67.3
trio==0.33.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==202602
urllib3==2.6.3
uvicorn==0.41.0
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
yarl==1.22.0
